{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {%include "snippets/styles.html"%}    
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">        
    <link rel="stylesheet" type="text/css" href="{% static css_app %}">
</head>
<body>
   {% include "snippets/navbar.html" %}
    
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-white text-center">
        {% block header %}
        
        {% endblock header %}
      </div>
    </div>

    <div class="container-fluid">
        <div class="container bg-info text-dark shadow" style="margin-top:-100px"
        id="myBody" >
            {% block content1 %}
            
            {% endblock content1 %}
        </div>

        <div class="container bg-warning text-white shadow">

            {% block content2 %}
            
            {% endblock content2 %}
                                          
        </div>

    </div>
    {% include "snippets/script.html" %}    
</body>
</html>
