<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    {% include "navbar.html" %}

    <div class="container" style="margin-top: 20px;">
        <div class="raw">
            <div class="col-md-7 offset-md-3">
        <h2>Welcome to 
                <span class="badge badge-secondary"> Django!</span>
            Course Information</h2> 
    </div>
    </div>

    </div>

    <div class="container" style="margin-top: -7px;">
            <div class="raw">
                <div class="col-md-4 offset-md-7">
             <h6>This is a dashboard of Course Information</h6>
    
            </div>
        </div>
        </div>
    
</body>
</html>