<form>              
        <div class="form-group">
          <label for="formGroupExampleInput">Name</label>
          <input type="text" class="form-control" id="" placeholder="Course Name">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Tipe</label>
          <input type="text" class="form-control" id="" placeholder="Course Type">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Start</label>
            <input type="text" class="form-control" id="" placeholder="Course Start">
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput">End</label>
              <input type="text" class="form-control" id="" placeholder="Course End">
            </div>              
            
                <div class="form-group">
                    <label for="formGroupExampleInput">Lecture</label>
                    <select class="custom-select" required>
                      <option value="">Select Lecture</option>
                      <option value="1">Lalu Hammi Luhur</option>
                      <option value="2">Jokowi</option>
                      <option value="3">Obama</option>
                    </select>                    
                  </div>

                  <div class="form-group">
                        <label for="formGroupEcampleInput">Room</label>
                        <select class="custom-select" required>
                        <option value="">Select Room</option>
                        <option value="1">1 T</option>
                        <option value="2">Aula</option>
                        <option value="3">2 A</option>
                      </select>                      
                    </div>                    
                                        
                    <div class="raw">
                      <div class="col-md-3 offset-md-9">
                    <button class="btn btn-danger" type="submit">Cancel</button>
                    <button class="btn btn-primary" type="submit">Reset</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                  </div>
                    
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>      
       
