
<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>        
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Lecture</th>
        <th scope="col">Room</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    
    <tbody>
      {% for crs in courses %}
      <tr>
          <th >{{forloop.counter}}</th>
          <td>{{crs.name}}</td>
          <td>{{crs.tipe}}</td>
          <td>{{crs.start}}</td>
          <td>{{crs.end}}</td>
          <td>{{crs.lecture.name}}</td>
          <td>{{crs.room.name}}</td>
        

          <td>            
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-hapus-{{crs.id}}">
            Hapus
          </button>                      
          </td>
      
          <div class="modal fade" id="modal-hapus-{{crs.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Confirm !</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure to delete ?
                </div>                                
                  <a href="{% url 'course:delete' crs.id %}" class="btn btn-danger">Yes !</a>
                </div>
              </div>
            </div>
          </div>

        </tr>
      {% endfor %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </tbody>
  </table>
