{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock title %}
 
{% block heading %}
{{heading}}
{% endblock heading %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" >        
    <a class="navbar-brand" href="{% url 'laptop:index' %}">All-Merk</a>    
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

          {% for show in unik %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'laptop:showC' show.merk %}">{{show.merk}}<span class="sr-only">(current)</span></a>
        </li>  
          {% endfor %}
        
        
      </ul>
    </div>
  </nav>
<br>

{% for show in saring %}
<div class="navbar navbar-expand-lg navbar-light bg-light">            
    <ul>
     
    <a href="{% url 'laptop:showD' show.slug %}"><h3>{{show.tipe}}</h3></a>            

    <p>Produk : {{show.merk}}</p>            
    <p>Harga : {{show.harga}}</p>        
<p>{{show.spesifikasi | truncatechars:200}}</p>
</ul>
</div>
{% endfor %}

{% endblock content %}